# Ignore Mac system files
.DS_store

# Ignore node_modules folder
hadoop-3.3.0.tar.gz.sha512
hadoop-3.3.0

# Ignore IDE specifics¬gnore sample output from local machine 
out

# Ignore IDE specifics
.idea

# Ignore node modules
node_modules
