body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#profiler_icon img {
    width: 50px;
    height: 50px;
    margin: 2px 4px 2px 2px;
}

.bg_hadoop_green {
    background-color: #5fa33e;
}

.navbar-nav > .active > a {
    text-decoration: underline;
    font-weight: bold;
}

.width-83-prcntge {
    width: 83%;
}

.width-63-prcntge {
    width: 63%;
}

canvas {
    width:600px !important;
    height:400px !important;
}

.diagram_margin {
    margin: 40px 20px 40px 20px;
}